* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

/* LOGIN SECTION */

.form-logo {
    width: auto;
    height: 130px;
    background-color: #293094;
}

.form-logo img {
    float: right;
}

.gray {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: darkgray;
    width: auto;
    height: 45px;
}

.gray-text{
    margin: 15px;   
    font-size: 22px;
    font-weight: bold;
}

.yellow {
    background-color: #fff36b;
    width: 100%;
    height: 90px;
}

.main-container { 
    position: absolute;
    margin-top: 30px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 400px;
    width: 600px;
    background-color: green;
    text-align: center;
}

.main-container h2 {
    font-size: 28px;
    margin-top: 12px;
    color: white;
}

.login-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 300px;
    width: 550px;
    background-color: darkgrey;
}

.form-element {
    margin-top: 10px;
    font-size: 22px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
}

.form-element label {
    order: 1;
}

.form-element input {
    width: 480px;
    height: 35px;
    order: -1;
}

.btn-ok {
    font-weight: bold;
    margin-top: 4.5vh;
    background-color: rgb(99, 99, 99);
    font-size: 24px;
    width: 49%;
    height: 40px;
    border: none;
    cursor: pointer;
}

.btn-cancel {
    font-weight: bold;
    background-color: rgb(99, 99, 99);
    font-size: 24px;
    width: 50%;
    height: 40px;
    border: none;
    cursor: pointer;
}

.info-container {
    display: flex;
    justify-content: center;
}

.info-text {
    font-size: 25px;
    margin-right: 250px;
    margin-top: 50vh;
    text-align: left;
}

.green {
    bottom: 0;
    width: 100%;
    height: 50px;
    margin-top: 10px;
    background-color: green;
}

/* END OF LOGIN SECTION */

/* START OF INDEX */

.container{
    display: flex;
}

.column-1 {
    display: flex;
    justify-content: center;
    background-color: #fff36b;
    width: 40%;
    height: 240px;
}

.scan{
    position: absolute;
}

.scan-element {
    margin-top: 25px;
    font-size: 22px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.scan-element label {
    font-weight: bold;
    order: -1;
}

.scan-element input {
    width: 480px;
    height: 35px;
    order: 1;
}

.grays{
    width: 100%;
    height: 120px;
    display: flex;
    transform: translate(0px, 120px);

}

.box{
    background-color: #c2c2c2;;
    justify-content: center;
    align-content: center;
    border: 1px solid white;
    height: 120px;
    width: 40%;
    cursor: pointer;
}

.box p{
    text-align: center;
    font-weight: bold;
}


.column-2 {
    background-color: black;
    color: white;
    width: 60%;
    height: 240px;
}

.column-3{

}

.reds{
    display: flex;
    flex-direction: column;
    /* transform: translate(0px, 120px); */

}

.button{
    background-color: red;
    justify-content: center;
    align-content: center;
    border: 1px solid white;
    text-align: center;
    width: 120px;
    height: 100px;

}

  
.column-4{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: darkgray;
    width: 100%;
    height: 45px;
}

.column-4 p{
    margin: 15px;
    text-align: center;
}

table {
    border-collapse: collapse;
    width: 100%;
}
th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}