
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    zoom: 1;
}

/* Media query for screens larger than 1200px */
@media (min-width: 800px) {
    body {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 125vh;
        margin: 0;
        zoom: 0.80;
    }
}

@media (min-width: 1200px) {
    body {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 123vh;
        margin: 0;
        zoom: 0.80;
    }
}

/* Media query for screens larger than 1600px */
@media (min-width: 1600px) {
    body {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        margin: 0;
        zoom: 1;
    }
}

.note-info-index{
    padding: 30px;
    font-size: 15px;
    position: absolute;
    left: 0;
    top: 0;
}

.note-info{
    display: none;
    padding: 30px;
    position: absolute;
    left: 0;
    top: 0;
}

/* Style the container */
.whole-container {
    position: relative;
    width: 1100px;
    height: 800px;
    border: 1px solid black;
}

/* LOGIN SECTION */

.logout{
    display: none;
    position: absolute;
    top: 0;
    margin-top: 20px;
    text-decoration: none;
    color: red;
}


.form-logo {
    width: auto;
    height: 130px;
    background-color: #293094;
}

.form-logo img {
    float: right;
}

.gray {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: darkgray;
    width: auto;
    height: 45px;
}

.gray-text{
    margin: 15px;   
    font-size: 18px;
    font-weight: bold;
}

.yellow {
    background-color: #fff36b;
    width: 100%;
    height: 90px;
}

.main-container { 
    position: absolute;
    margin-top: 70px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 330px;
    width: 500px;
    background-color: green;
    text-align: center;
}

.login-container{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        height: 200px;
        width: 450px;
        background-color: darkgrey;
}

.main-container h2 {
    font-size: 28px;
    margin-top: 12px;
    color: white;
}

.main-container1{
    position: absolute;
    margin-top: 70px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 330px;
    width: 500px;
    background-color: green;
    text-align: center;
}

.nonmerchant{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content:center;
}



.nonmerchant input,
.nonmerchant select{

    width: 80%;
    height: 30px;
}

.nonmerchant1{
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content:center;
}


.nonmerchant1 input,
.nonmerchant1 select{
    text-align: center;
    width: 76%;
    height: 30px;
}

.nonmerchant1 p{
    margin-bottom: 13px;
    margin-right: 10px;
    font-size: 18px;
    font-weight: bold;
    color: rgb(61, 61, 61);
}

.nonmerchant2{
    margin-top: 80px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content:center;
}


.nonmerchant2 input,
.nonmerchant2 select{
    width: 30%;
    height: 30px;
}

.nonmerchant2 p{
    margin-right: 10px;
    font-size: 18px;
    font-weight: bold;
    color: rgb(61, 61, 61);
}

.nonmerchant3{
    margin-top: 22px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content:center;
}


.nonmerchant3 input,
.nonmerchant3 select{
    width: 80%;
    height: 80px;
}

.nonmerchant3 p{
    margin-right: 10px;
    font-size: 22px;
    font-weight: bold;
    color: rgb(61, 61, 61);
}

.nonmerchant4{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content:center;
}


.nonmerchant4 p{
    margin-top: 60px;
    margin-right: 10px;
    font-size: 22px;
    font-weight: bold;
    color: rgb(61, 61, 61);
}

.nonmerchant1{
    margin-top: 22px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content:center;
}


/* .nonmerchant1 input,
.nonmerchant1 select{
    width: 80%;
    height: 30px;
}

.nonmerchant1 p{
    margin-bottom: 8px;
    font-size: 22px;
    font-weight: bold;
    color: rgb(61, 61, 61);
} */


.center-container6{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 250px;
    width: 450px;
    background-color: darkgrey;
}




.center-container5{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 250px;
    width: 450px;
    background-color: darkgrey;
}

.center-container5 p{
    text-align: left;
    padding: 10px;
    font-size: 20px;
    font-weight: bold;
    color: rgb(61, 61, 61);
}


.center-container4{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 250px;
    width: 450px;
    background-color: darkgrey;
}

.center-container4 p{
    text-align: center;
    margin-top: 18px;
    font-size: 18px;
    font-weight: bold;
    color: rgb(61, 61, 61);
}

.center-container3{
    position: absolute;
    align-items: center;
    align-content: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 250px;
    width: 450px;
    background-color: darkgrey;
}

.center-container3 p{
    text-align: center;
    margin-top: 80px;
    margin-bottom: 30px;
    font-size: 22px;
    font-weight: bold;
    color: rgb(61, 61, 61);
}

.center-container2{
    position: absolute;
    align-items: center;
    align-content: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 250px;
    width: 450px;
    background-color: darkgrey;
}

.center-container2 p{
    text-align: center;
    margin-top: 90px;
    margin-bottom: 30px;
    font-size: 22px;
    font-weight: bold;
    color: rgb(61, 61, 61);
}

.thebuttons{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.btn-ok10 {
    font-weight: bold;
    margin-top: 50px;
    margin-right: 2px;
    background-color: gray;
    font-size: 24px;
    width: 225px;
    height: 35px;
    border: none;
    cursor: pointer;
    color: black
}

.btn-ok1 {
    font-weight: bold;
    margin-top: 48px;
    background-color: gray;
    font-size: 24px;
    width: 49%;
    height: 35px;
    border: none;
    cursor: pointer;
    color: black
}

.btn-cancel1 {
    font-weight: bold;
    margin-top: 48px;
    background-color: gray;
    font-size: 24px;
    width: 50%;
    height: 35px;
    border: none;
    cursor: pointer;
    color: black
}

.btn-ok5 {
    font-weight: bold;
    margin-top: 50px;
    background-color: gray;
    font-size: 24px;
    width: 49%;
    height: 35px;
    border: none;
    cursor: pointer;
    color: black
}

.btn-cancel5 {
    font-weight: bold;
    margin-top: 50px;
    background-color: gray;
    font-size: 24px;
    width: 50%;
    height: 35px;
    border: none;
    cursor: pointer;
    color: black
}

.btn-ok6 {
    font-weight: bold;
    margin-top: 88px;
    background-color: gray;
    font-size: 24px;
    width: 49%;
    height: 35px;
    border: none;
    cursor: pointer;
    color: black
}

.btn-cancel6 {
    font-weight: bold;
    margin-top: 88px;
    background-color: gray;
    font-size: 24px;
    width: 50%;
    height: 35px;
    border: none;
    cursor: pointer;
    color: black
}



.main-container1 h2{
    text-align: center;
    margin-top: 10px;
    color: white;
}

.center-container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 250px;
    width: 450px;
    background-color: darkgrey;
}

.center-container p{
    text-align: left;
    margin-left: 50px;
    margin-top: 25px;
    margin-bottom: 10px;
    padding: 10px;
    font-size: 22px;
    font-weight: bold;
}

.center-container a{
    color: black;
    text-decoration: none;
}

a{
    text-decoration: none;
}

.form-element {
    margin-top: 10px;
    font-size: 22px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
}

.form-element label {
    order: 1;
}

.form-element input {
    width: 380px;
    height: 30px;
    order: -1;
}

.btn-ok {
    font-weight: bold;
    margin-top: 45px;
    background-color: rgb(99, 99, 99);
    font-size: 24px;
    width: 49%;
    height: 40px;
    border: none;
    cursor: pointer;
}

.btn-cancel {
    font-weight: bold;
    margin-top: 45px;
    background-color: rgb(99, 99, 99);
    font-size: 24px;
    width: 50%;
    height: 40px;
    border: none;
    cursor: pointer;
}



.info-container {
    display: flex;
    justify-content: center;
}

.info-text {
    font-size: 20px;
    margin-right: 195px;
    margin-top: 400px;
    text-align: left;
}

.green {
    position: absolute; /* Position the footer */
    bottom: 0; /* Align it to the bottom */
    width: 100%; /* Full width */
    background-color: #f2f2f2; /* Light background color */
    padding: 10px; /* Padding */
    text-align: center; /* Center text */
}

/* END OF LOGIN SECTION */

/* START OF INDEX */
.outer-container {
    display: flex;
    flex-direction: column;
}


.container{
    display: flex;
}

.column-1 {
    display: flex;
    justify-content: center;
    background-color: #fff36b;
    width: 40%;
    height: 160px;
}

.column-1x{
    background-color: #fff36b;
    width: 100%;
    height: 120px;

}

.column-1xz{
    background-color: #fff36b;
    width: 100%;
    height: 60px;


}

.column-1xz h1{
    margin-top: 15px;
    text-align: center;
}
.column-1xz h2{
    margin-top: 5px;
    text-align: center;
}

.in{
    display: flex;
    font-size: 18px;
    justify-content: space-between;
    color: blue;
    margin-left: 10px;
    margin-right: 10px;
}

.in p{

}

.scan{
    display: flex;
    position: absolute;
    width: auto;
}

.scan-element {
    margin-top: 14px;
    font-size: 18px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.scan-element label {
    font-weight: bold;
    order: -1;
}

.scan-element input {
    width: 280px;
    height: 28px;
    order: 1;
}

.grays{
    width: 100%;
    height: 120px;
    display: flex;
    transform: translate(0px, 80px);

}

.grays2{
    width: 100%;
    display: flex;

}

.box{
    background-color: #c2c2c2;;
    justify-content: center;
    align-content: center;
    border: 1px solid white;
    height: 80px;
    width: 40%;
    cursor: pointer;
}

.boxLook{
    display: flex;
    justify-content: center;
    background-color: #c2c2c2;;
    border: 1px solid white;
    height: 80px;
    width: 40%;
}

.boxLook {
    font-size: 22px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.boxLook label {
    font-weight: bold;
    order: -1;
}

.boxLook input {
    width: 380px;
    height: 28px;
    order: 1;
}

.grays a{
    color: black;
    text-decoration: none;
}

.grays a:hover{
    background-color: rgb(56, 146, 237);
    color: white;
}

.box:hover{
    background-color: rgb(56, 146, 237);
    color: white;
}

.box p{
    text-align: center;
    font-weight: bold;
    font-size: 16px;
}

.box img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50px;
    height: 50px;
}


.column-2 {
    background-color: black;
    align-content: center;
    color: white;
    width: 60%;
    height: 160px;
}


.column-2 p{
    margin-left: 40px;
    margin-top: 8px;
    font-size: 18px;
    font-weight: bold;
}

.unity{
    justify-content: flex-end;
    position: absolute;
    text-align: right;
    font-size: 20px;
    font-weight: bold;
    color: white;
    top: 198px; /* Adjust this value to specify the distance from the top of the page */
    left: 860px; /
}

.price{
    position: relative;
    bottom: 10px;
    text-align: right;
    font-size: 40px;
    font-weight: bold;
    margin-right: 100px;
    color: rgb(85, 255, 85);
}

.price2{
    position: relative;
    bottom: 10px;
    text-align: right;
    font-size: 40px;
    font-weight: bold;
    margin-right: 200px;
    color: rgb(85, 255, 85);
}

.reds{
    display: flex;
    flex-direction: column;
    /* transform: translate(0px, 120px); */
}

.reds a{
    text-decoration: none;
}

.button{
    background-color: darkgray;
    justify-content: center;
    align-content: center;
    border: 1px solid white;
    text-align: center;
    width: 120px;
    height: 75px;
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.button2{
    background-color: darkgray;
    justify-content: center;
    align-content: center;
    border: 1px solid white;
    text-align: center;
    width: 120px;
    height: 75px;
    color: black;
    text-decoration: none;
}


.button:hover{
    background-color: rgb(56, 146, 237);
    color: white;
}

.button-adjust:hover{
    background-color: rgb(56, 146, 237);
    color: white;
}

.button p{
    font-weight: bold;
    font-size: 14px;
}

.button2 p{
    font-weight: bold;
    font-size: 14px;
}


.button-adjust{
    background-color: darkgray;
    justify-content: center;
    align-content: center;
    border: 1px solid white;
    text-align: center;
    width: 120px;
    height: 77.2px;
    color: black;
    text-decoration: none;

}

.button-adjust p{
    font-weight: bold;
    font-size: 14px;
}

.negative-qty {
    background-color: darkgray; /* Gray background color */
}

#smallDate{
    display: flex;
    width: 100px;
    height: 50px;
}


.highlight {
    color: blue;
    font-weight: bold;
    margin-bottom: 10px;
}

.row-highlight {
    background-color: rgb(161, 229, 60);
    color: white;
}

.rows-highlight {
    background-color: rgb(148, 192, 82);
}

.message-warnings{
    position: fixed;
    top: 20;
}

.message-warning{
    position: fixed;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    padding: 20px;
    z-index: 1000;
    width: 550px; /* Set the width of the popup content */
    height: 170px; /* Set the height of the popup content */
}

.message-warning p{
    margin-top: 20px;
    margin-left: 25px;
    margin-bottom: 25px;
    font-size: 20px;
}

.message-warning-index{
    position: fixed;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    padding: 20px;
    z-index: 1000;
    width: 550px; /* Set the width of the popup content */
    height: 170px; /* Set the height of the popup content */
}

.message-warning-index p{
    margin-top: 20px;
    margin-left: 25px;
    margin-bottom: 25px;
    font-size: 20px;
}



  
.column-4{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: darkgray;
    width: 100%;
    height: 45px;
}

.column-4 p{
    margin: 15px;
    text-align: center;
}

table {
    border-collapse: collapse;
    width: 100%
}


td {
    color: red;
    font-weight: bold;
    border: 1.5px solid #b8b8b8;
    padding: 6px;
    text-align: left;
}

th {
    background-color: #c2c2c2;
    height: 35px;
    font-weight: normal;

}

.centered {
    text-align: center;
}

.journal{
    width: 450px;
    height: 50px;
    background-color: lightgray;
    align-content: center;
}

.journal p{
    font-size: 25px;
    text-align: center;
}


.scrollable-container {
    width: 450px; /* Set the width */
    height: 465px; /* Set the height */
    border: 10px solid lightgray; /* Add border for visual separation */
    overflow-y: auto; /* Enable vertical scrolling */
    overflow-x: hidden; /* Disable horizontal scrolling */
}

/* Style for the content inside the container */
.content {
    padding: 20px; /* Add padding for spacing */
}

.outer-container1 {
    display: flex;
    flex-direction: column;
}

.receipt-container{
    display: flex;
    flex-direction: column;
}

.column-1a{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.agoy{
    display: flex;
    flex-direction: row;
}

.compute{
    background-color: rgb(0, 179, 0);
    width: 100%;
    height: 220px;
}

.compute2{
    background-color: rgb(0, 179, 0);
    width: 100%;
    height: 270px;
}


.units{
    position: absolute;
    transform: translate(60%, 100%);
    width: 300px;
    height: 40px;
    background-color: white;
}

.units p {
    margin-top: 5px;
    font-weight: bold;
    font-size: 24px;
    text-align: right;
    margin-right: 20px;
}

.sales{
    position: absolute;
    transform: translate(60%, 230%);
    width: 300px;
    height: 40px;
    background-color: white;
}

.sales p {
    margin-top: 5px;
    font-weight: bold;
    font-size: 24px;
    text-align: right;
    margin-right: 20px;
}

.tendered{
    position: absolute;
    transform: translate(60%, 360%);
    width: 300px;
    height: 40px;
    background-color: white;
}

.tendered p {
    margin-top: 5px;
    font-weight: bold;
    font-size: 24px;
    text-align: right;
    margin-right: 20px;
}

.change{
    position: absolute;
    transform: translate(60%, 490%);
    width: 300px;
    height: 40px;
    background-color: white;
}

.change p {
    margin-top: 5px;
    font-weight: bold;
    font-size: 24px;
    text-align: right;
    margin-right: 20px;
}


.textes{
    position: absolute; 
    margin-top: 50px;
    margin-left: 50px;
    color: white;
    font-size: 22px;
}

.payment-details{
    background-color: rgb(0, 160, 214);
    width: 100%;
    height: 45px;
    align-content: center;
    text-align: center;

}

.payment-details p{
    margin-right: 100px;
    font-weight: bold;
    font-size: 25px;
}

.amount{
    width: auto;
    height: 300px;
    background-color: lightgray;
}

.amount-element{
    margin-top: 25px;
    font-size: 22px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
}

.amount-element label {
    font-weight: bold;
    order: -1;
}

.amount-element input {
    width: 480px;
    height: 35px;
    order: 1;
}

.e{
    position: relative;
    float: right;
}

.column-3z{
    margin-top: 573px;
}

.bottom{
    border: 1px solid white;
    position: absolute;
    bottom: 0;
    background-color: darkgray;
    width: 100%;
    height: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; /* Three equal columns */
    /* Adjust the gap between columns */
}

.bottomx{
    position: absolute;
    bottom: 0;
    background-color: darkgray;
    width: 100%;
    height: 50px;
    display: grid;
    grid-template-columns: 0.7fr 1fr; /* Three equal columns */
    /* Adjust the gap between columns */
}


.bottom-payment{
    border: 1px solid white;
    position: absolute;
    bottom: 0;
    background-color: green;
    width: 100%;
    height: 50px;
}

.bottom-1 {
    display: flex;
    flex-direction: row;
    background-color: #fff36b; /* Just for visualization */
    padding: 10px;
    text-align: center;
    font-weight: bold;
    align-items: center;
}

.bottom-1x {
    display: flex;
    flex-direction: row;
    background-color: lightgray; /* Just for visualization */
    padding: 10px;
    text-align: center;
    font-weight: bold;
    align-items: center;
}

.bottom-1 p{
    margin-left: 40px;
    margin-top: 8px;
}

.bar1{
    background-color: white;
    margin-left: 10px;
    margin-top: 8px;
    width: 180px;
    height: 20px;
}

.bottom-2 {
    display: flex;
    flex-direction: row;
    background-color: rgb(0, 179, 0); /* Just for visualization */
    padding: 10px;
    text-align: center;
    font-weight: bold;
}

.bottom-2x {
    justify-content: center;
    gap: 20px;
    display: flex;
    flex-direction: row;
    background-color: rgb(0, 179, 0); /* Just for visualization */
    text-align: center;
    font-weight: bold;

}
.bottom-2xy {
    display: flex;
    justify-content: flex-end;
    gap: 2px;
    display: flex;
    flex-direction: row;
    background-color: rgb(0, 179, 0); /* Just for visualization */
    text-align: center;
    font-weight: bold;

}

.bottom-2xy p{
    margin-right: 25px;
    margin-top: 13px;
    font-size: 20px ;
    font-weight: bold;
}

.bottom-2xz {
    display: flex;
    justify-content: flex-end;
    gap: 2px;
    display: flex;
    flex-direction: row;
    background-color: rgb(0, 179, 0); /* Just for visualization */
    text-align: center;
    font-weight: bold;

}

.bottom-2xz p{
    margin-left: 160px;
    margin-right: 30px;
    margin-top: 13px;
    font-size: 20px ;
    font-weight: bold;
}

.btn-ok2 {
    font-weight: bold;
    background-color: lightgray;
    font-size: 24px;
    width: 120px;
    height: 50px;
    border: none;
    cursor: pointer;
}

.btn-cancel2 {
    margin-right: 110px;
    font-weight: bold;
    background-color: lightgray;
    font-size: 24px;
    width: 120px;
    height: 50px;
    border: none;
    cursor: pointer;
}

.bottom-2 p{
    margin-left: 40px;
    margin-top: 8px;
}

.bar2{
    background-color: white;
    margin-left: 10px;
    margin-top: 8px;
    width: 180px;
    height: 20px;
}
.bottom-3 {
    background-color: darkgray; /* Just for visualization */
    padding: 10px;
    text-align: center;
    font-weight: bold;
}
.bottom-3 p{
    margin-top: 8px;
}

.try{
    align-content: center;
    text-align: center;
    height: 250px;
    width: auto;
    background-color: darkgray;
}

.try3{
    align-content: center;
    text-align: center;
    height: 250px;
    width: auto;
    background-color: darkgray;
}

.try3 select{
    font-size: 18px;
    text-align: center;
    width: 50%;
    height: 40px;
    margin-right: 80px;
}

.try3 p{
    font-size: 18px;
    font-weight: bold;
    margin-right: 90px;
}


.try2{

    text-align: center;
    height: 250px;
    width: auto;
    background-color: darkgray;
}

.try2 p{
    font-size: 22px;
    font-weight: bold;
    margin-right: 100px;
}

.try p {
    font-size: 22px;
    font-weight: bold;
    margin-right: 100px;
}

.try input{
    text-align: center;
    font-size: 22px;
    margin-right: 100px;
    height: 40px;
    width: 400px;
}

/* Search table */
.scrollable-table-container {
    max-height: 415px; /* Set the maximum height for the scrollable area */
    overflow-y: auto; /* Enable vertical scrolling */
    border: 1px solid #ccc; /* Optional: add a border for better visibility */
}

.scrollable-table-container2 {
    max-width: 1094px;
    max-height: 415px; /* Set the maximum height for the scrollable area */
    overflow-y: auto; /* Enable vertical scrolling */
    border: 1px solid #ccc; /* Optional: add a border for better visibility */
}


.products {
    width: 100%;
    border-collapse: collapse;
}

.products2 {
    max-width: 977.5px;
    border-collapse: collapse;
}

/* end of search table */

/* for qty button on posMain.php */

.popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    padding: 20px;
    z-index: 1000;
    width: 400px; /* Set the width of the popup content */
    height: 170px; /* Set the height of the popup content */
}
.popup-content {
    margin-top: 12px;
    display: flex;
    flex-direction: column;


}
.close {
    display: none;
    align-self: flex-end;
    cursor: pointer;
}
.popup-buttons {
    margin-top: 10px;
    display: flex;
    justify-content: flex-end; /* Move buttons to the right */
    gap: 10px; /* Add space between the buttons */
}

/* quantity button */

.popup-button {
    background-color: darkgray;
    justify-content: center;
    align-content: center;
    border: 1px solid white;
    text-align: center;
    width: 120px;
    height: 75px;
    color: black;
    text-decoration: none;
}

.popup-button:hover{
    background-color: rgb(56, 146, 237);
    color: white;
}

.popup-button p {
    font-weight: bold;
    font-size: 14px;
}

.popup-highlight {
    color: blue;
    font-weight: bold;
    margin-bottom: 10px;
}

 /* Modal styles */
 .modal {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.0);
    justify-content: center;
    align-items: center;
    z-index: 1000; /* Ensure the popup is above other content */
}
.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    position: relative; /* Make the close button positioning relative to this container */
    width: 400px; /* Set the width of the popup content */
    height: 150px; /* Set the height of the popup content */
}
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

#quantityInput {
    width: 100%; /* Adjust width as needed */
    height: 30px;
    padding: 10px;
    margin: 10px 0;
    box-sizing: border-box;
}

#okButton,
#cancelButton {
    width: 120px;
    height: 30px; /* Adjust height as needed */
    padding: 0; /* Remove padding to prevent stretching the button */
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
}

/* end of qty button on posMain.php */

/* Add this CSS to your stylesheet or within a <style> tag in your HTML head */
.popup-overlay-custom {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.0);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 1000;

}

.custom-popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 20px;
    z-index: 9999;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}


.popup-content-custom {
    background: #fff;
    width: 450px;
    height: 150px;
    padding: 20px;
    border-radius: 4px;
    text-align: center;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.popup-content-custom p {
    font-weight: normal;
    text-align: left;
    margin-left: 15px;
    font-size: 18px;
    margin-top: 15px;
}

.popup-content-custom button {
    background: lightgray;
    position: relative;
    width: 120px;
    height: 30px; /* Adjust height as needed */
    border: 1px solid #888;
    top: 35px;
    left: 140px;
    color: black;
    padding: 0; /* Remove padding to prevent stretching the button */
    border-radius: 4px;
    cursor: pointer;
}

.okbutts {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  .okbutts:hover {
    background-color: #0056b3;
  }

  /* table modification */
  .bold-row {
    font-weight: bold;
    /* You can add more styles here */
}

/* end of table modification */

.bottom-payment2{
    display: flex;
    flex-direction: row;
    border: 1px solid white;
    position: absolute;
    bottom: 0;
    background-color: green;
    width: 100%;
    height: 50px;
    justify-content: center;
    gap: 65px;
    align-items: center;
}

.lnqr{
    margin-top: 160px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.lnqr input{
    height: 35px;
    width: 50%;
}

.lnqr p{
    font-size: 20px;
}

.bottom-payment3{
    display: flex;
    flex-direction: row;
    border: 1px solid white;
    position: absolute;
    bottom: 0;
    background-color: green;
    width: 100%;
    height: 50px;
    justify-content: center;
    gap: 2px;
    align-items: center;
}


.bottom-buttons{
    background-color: lightgray;
    height: 46px;
    width: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.bottom-buttons p{
    font-size: 14px;
    text-align: center;
    font-weight: bold;
}

.bottom-buttons h3{
    color: blue;
    text-align: center;
}


.bottom-page{
    position: absolute;
    right: 15px;
    font-weight: bold;
    margin-bottom: 20px;
}

/* Payment Receipt Popup */
.unique-popup {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 450px;
    height: 180px;
    padding: 20px;
    background-color: white;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
}

.popup-content2{
    text-align: left;
}

.closePopers{
    display: flex;
    justify-content: flex-end;
}

.popup-close{
    background: lightgray;
    position: relative;
    width: 120px;
    height: 30px; /* Adjust height as needed */
    border: 1px solid #888;
    top: 15px;
    color: black;
    padding: 0; /* Remove padding to prevent stretching the button */
    border-radius: 4px;
    cursor: pointer;
}
.popup-closed{
    background: lightgray;
    position: relative;
    width: 120px;
    height: 30px; /* Adjust height as needed */
    border: 1px solid #888;
    top: 15px;
    color: black;
    padding: 0; /* Remove padding to prevent stretching the button */
    border-radius: 4px;
    cursor: pointer;
}

/* resibo */
.receipt1{
    font-size: 14px;
    text-align: center;
    line-height: 1.3;
}

.receipt2{
    font-size: 14px;
    text-align: left;
    line-height: 1.3;
}
.receipt3{
    font-size: 14px;
    text-align: left;
    line-height: 1.3;
}
.receipt4{
    font-size: 14px;
    text-align: center;
    line-height: 1.3;
}

.productGenerated{
    font-size: 14px;
    line-height: 1.3;
}

.apart {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 625px;/* Optional: for some spacing around the content */
}

.apart2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 538px;/* Optional: for some spacing around the content */
}

.apart3 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 370px;/* Optional: for some spacing around the content */
}

.taxApart1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 370px;/* Optional: for some spacing around the content */
}

.productReceipt {
    display: flex;

    justify-content: space-between;
}

.creditCard{
    display: block;
}

.receiptItem {
    display: flex;
    align-items: flex-start; /* Align items at the start of the flex container */
}

.columnReceipt1 {
    margin-right: 43px; /* Adjust spacing between columns if needed */
}

.columnReceipt2 {
    flex: 1; /* Let this column take remaining space */
}

.columnReceipt3 {
    text-align: left; /* Ensure text inside columnReceipt3 is left-aligned */
}

.columnReceipt3 p {
    margin: 0; /* Reset default margin for paragraphs */
}

#cardDetails {
    margin-left: 20px;
    display: block;
    text-align: left;
}

#cardDetails label {
    text-align: left;
    font-weight: bold;
    display: inline-block;
    width: 30%; /* Adjust as needed */
    margin-right: 10px; /* Space between label and input */
    margin-left: 20px;
}

#cardDetails input[type="text"], 
#cardDetails input[type="date"] {
    width: 30%; /* Adjust as needed */
    box-sizing: border-box; /* Ensure width includes padding */
    margin-bottom: 5px; /* Space between inputs */
}

#cardDetails p{
    color: red;
}

#fixing{
    display: flex;
    flex-direction: row;
}


#swipeLabel{
    display: inline;
    text-align: center;

}
