* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

/* LOGIN SECTION */

.form-logo {
    width: auto;
    height: 130px;
    background-color: blue;
}

.form-logo img {
    float: right;
}

.gray {
    display: flex;
    justify-content: space-between;
    background-color: darkgray;
    width: auto;
    height: 45px;
}

.gray-text{
    margin: 10px;   
    font-size: 22px;
    font-weight: bold;
}

.yellow {
    background-color: yellow;
    width: 100%;
    height: 90px;
}

.main-container { 
    position: absolute;
    margin-top: 30px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 400px;
    width: 600px;
    background-color: green;
    text-align: center;
}

.main-container h2 {
    font-size: 28px;
    margin-top: 12px;
    color: white;
}

.login-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 300px;
    width: 550px;
    background-color: darkgrey;
}

.form-element {
    margin-top: 10px;
    font-size: 22px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
}

.form-element label {
    order: 1;
}

.form-element input {
    align-items: center;
    width: 480px;
    height: 35px;
    order: -1;
}

.btn-ok {
    font-weight: bold;
    margin-top: 4.5vh;
    background-color: rgb(99, 99, 99);
    font-size: 24px;
    width: 49%;
    height: 40px;
    border: none;
    cursor: pointer;
}

.btn-cancel {
    font-weight: bold;
    background-color: rgb(99, 99, 99);
    font-size: 24px;
    width: 50%;
    height: 40px;
    border: none;
    cursor: pointer;
}

.info-container {
    display: flex;
    justify-content: center;
}

.info-text {
    font-size: 25px;
    margin-right: 250px;
    margin-top: 50vh;
    text-align: left;
}

.green {
    bottom: 0;
    width: 100%;
    height: 50px;
    margin-top: 10px;
    background-color: green;
}

/* END OF LOGIN SECTION */

/* START OF INDEX */

.container{
    display: flex;
}

.column-1 {
    background-color: yellow;
    width: 40%;
    height: 90px;
}

.column-x{
    margin-top: 72px;
    display: flex;
    flex-direction: row;
    gap: 1px;
}

.box1{
    background-color: aqua;
    width: 50px;
    height: 50px;

}


.column-2 {
    background-color: black;
    width: 60%;
    height: 180px;
}
  
.test{
    background-color: gray;
    width: 100%;
    height: 40px;
}
